*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

// 滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(35, 37, 38);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(58, 62, 65);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(58, 62, 65);
}

::-webkit-scrollbar-corner {
  background: rgb(58, 62, 65);
}

:root {
  --link: #065ab5;
  --pink: #ff6699;
  --text: #61666d;
  --text1: #cdcbc8;
}

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@500&family=Roboto:wght@500;700&display=swap');

body {
  background: rgb(24, 26, 27);
  color: #cdcbc8;

  transition: all 0.5s;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--link);
}

.container-body {
  margin: 0 auto;
  padding-top: 5px;
}

.tag {
  margin-right: 5px;
  font-size: 12px;
  border-radius: 3px;
  padding: 3px 5px;
}

.no-audit {
  color: #868686;
  border: 1px solid #ddd;
}

body .el-button--primary {
  color: #cdcbc8;
  outline-color: initial;
  background-color: #064c94;
  border-color: #06498e;
}

.el-button:focus,
.el-button:hover {
  color: #cdcbc8 !important;
  outline-color: initial !important;
  background-color: #063e76 !important;
  border-color: #064280 !important;
}

body .el-input__wrapper {
  color: #979187;
  background: initial;
  box-shadow: 0 0 0 1px #292c2e inset;
}
body .el-input__wrapper::before {
  background: red;
}
body .el-textarea__inner {
  background: initial;
  border-color: initial;
  box-shadow: 0 0 0 1px #292c2e;
}
body .el-textarea .el-input__count {
  background: #1d1d1d;
}
body .el-input__wrapper .el-input__inner {
  color: #979187;
}
body .el-dialog {
  color: #b2aea8;
  background: #1d1d1d;
}
body .el-dialog__header {
  text-align: center;
}
body .el-dialog__title {
  color: #b2aea8;
}
body .custom-dialog .dialog-body {
  border-top-color: rgb(56, 59, 62);
  border-bottom-color: rgb(56, 59, 62);
}
